


:root {

    --color-primary: #ff4444;
    --color-secondary: #333;

    --color-background: #ffffff;

    --color-border-primary: #87d3aa;
    --color-border-background-primary: #b2f3d0; 

    --color-border-secoundary: #87d3aa;
    --color-border-background-secoundary: #b2f3d0;

    --color-boxshadow-primary: #e5e5e5;

    --color-text-primary: #333;
    --color-text-secondary: #666;
}

/* :root {

    --color-background: #424242;

    --color-border-primary: #5c9b79;
    --color-border-background-primary: #7fc49f;

    --color-boxshadow-primary: #252525;

} */

html, body {
    max-width: 100vw;
    overflow-x: hidden;
    position: relative; /* Helps contain absolute elements */
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--color-text-primary);
    box-sizing: border-box;
}


#app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;

    background-color: var(--color-background);
}

.spacer {
    width: 16px;
}