




* {
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
}

#content_wrapper {
        width: 100dvw;
        height: 100dvh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }