




* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100dvw;
  height: 100dvh;

  background-color: #ffffff;
}

.spacer {
  width: 16px;
}